.timeline-wrapper {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		padding: 8px 16px;
		background: white;
		border-radius: 2px;
		margin: 4px 0;
	}
	.input-wrapper {
		display: flex;
		justify-content: space-around;
		
		button {
			padding: 8px 16px;
			height: 40px;
		}
		.mentionsInput {
			margin-right: 8px;
			flex: 1;
			border: 0;
			width: auto;
			background: white;
			border: 1px solid gray;
			border-radius: 2px;
			
			//these need the exact same styling to ensure
			//that the highlighter component and the input
			//are aligned
			.mentionsInput__input, .mentionsInput__highlighter {
				font-family: Consolas;
				font-size: 12px;
				padding: 2px;
				line-height: normal;
				border: none;
			}
			.mentionsInput__highlighter strong {
				background-color: red;
			}
			.mentionsInput__suggestions__list {
				overflow-y: auto;
				max-height: 200px;
			}
			.mentionsInput__suggestions__item--focused {
				color: white;
				background: gray;
			}
			.suggestion-id {
				opacity: .5;
			}
		}
	}
}